{% extends 'base.html' %}

{% block title %}Successful Sign Up{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-6">Successful Sign Up</h1>
      <p class="lead mt-3">Thank you for creating an account. Your profile has been created.</p>
      <p class="mb-4">Click the button below to go to the login page and sign in.</p>
      <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-lg">Go to Log In</a>
    </div>
  </div>
</div>
{% endblock %}
